@model IEnumerable<AzureSqlDbApp.Models.Course>
@{
    ViewData["Title"] = "Courses";
}
<head>


    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
</head>

<div class="text-center">
    <h1 class="display-4">This is a list of courses</h1>

</div>

<div>
    <table class="table" table-dark">
        <thead>
            <tr>
                <th scope="col">Course Id</th>
                <th scope="col">Course Name</th>
                <th scope="col">Rating</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
        <tr>
            <th scope="row">@course.CourseId</th>
            <td>@course.CourseName</td>
            <td>@course.Rating</td>
        </tr>
            }            
        </tbody>
    </table>
</div>
